.container.main-part
  .text-center
    .header
      %h3 Welcome to Simple Todo
    .main.greeting
      .email-form
        %hr
        .email_form_extended
          %label.form_header Enter your email to continue
          %br
          .col-md-6.col-xs-offset-3
            %input{type: "text", class:'form-control','ng-model': 'email','pattern': pattern, id: 'welcome-email'}
          %br
        %hr
      %button.btn.add_email{'ui-sref': 'home', 'ng-if': 'email'} Submit